# Created by .ignore support plugin (hsz.mobi)
/.cproject
/.project
/build.*/
/.pydevproject
/.cache/
*.so
*.py[cod]
/.idea
/.DS_Store
*.egg-info
*.egg
/build
develop-eggs
/dist
/eggs
lib
lib64
/.svn
/venv
/run_tests
/diagrams
notebooks/*
!notebooks/*ipynb
!notebooks/data
*.gpg
*.swp
cdci_osa_plugin.egg-info/*
cdci_osa_plugin/__pycache__/*
tests/__pycache__/*
scratch_sid*
tests/data
tests/scratch_sid_*
tests/emax-last
tmp_Exception*
data_*.json
reduced
.vscode
data
emax-last
jdata.json
log
