#-e git+https://github.com/oda-hub/dispatcher-app.git@master#egg=cdci_data_analysis[test]
-e git+https://github.com/oda-hub/dispatcher-app.git@set-all-default-values#egg=cdci_data_analysis[test]
-e git+https://github.com/oda-hub/oda_api@master#egg=oda_api


ddaclient
oda-knowledge-base[rdf,cwl]
astroquery-integral==0.1.0 # not needed apart from test
astropy
simple_logger
numpy
