-e git+https://github.com/oda-hub/dispatcher-app.git@plot-tools-in-oda-api#egg=cdci_data_analysis[test]
-e git+https://github.com/oda-hub/oda_api@no-dispatcher#egg=oda_api


ddaclient
oda-knowledge-base[rdf,cwl]
astroquery-integral # not needed apart from test
astropy
simple_logger
numpy
